body > header {
	border-bottom: 1px solid darkgray;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: space-between;
	padding: 0.5rem;
}

body > header > section {
	display: flex;
	justify-content: space-between;
}

.CellValueControl {
	min-width: 50vw;
}