.Table {
	max-height: 100%;
	max-width: 100vw;
	min-width: 100%;
	overflow-x: scroll;
}

.Table td {
	border: 0;
	border-top: 1px solid darkgray;
	border-right: 1px solid darkgray;
	min-width: 2rem;
	text-align: right;
}

.Table td input {
	border: 0;
}

.Table th {
	background-color: lightgray;
	font-weight: bold;
}

.Table tbody {
	overflow: scroll;
}

.Table input, .Table input:focus {
	border-radius: 0;
}